<!doctype html>
<html>
	<head>
		<title>SixChat</title>
		<include file="./Public/header.html" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/login.css" type="text/css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 1200px)" href="__PUBLIC__/Home/css/loginPC.css?v=17080100" />
	</head>
	<body>
		<div id="login" data-role="page">
			<div id="header">SixChat</div>
			<div id="content">
				<img src="__ROOT__/avatar_img/{$head_image}">
				<br>
				<form method="post" autocomplete="off">
					<input type="text" name="id" id="id" class="input-box" placeholder="{$text_placeholder}" value="{$id}" maxlength="20" required>			
					<input type="password" name="password" id="password" class="input-box" placeholder="{$pw_placeholder}" value="{$password}" maxlength="20" required>			
					<button id="submit_button" type="button">log In</button>
				</form>
				<a href="{:U('/register/index')}">Register Account</a>
				<a id="notice" >I'm a diver >></a>
			</div>
			<div id="footer"></div>
		</div>
		<script src="__PUBLIC__/Home/js/lib/jquery-3.1.0.min.js"></script>	
		<script>
			//验证用户输入
		    function validate() {	
				if(!$.trim($("#id").val())){   
					$("#id").focus();
					return;
				}   
				else if( !$.trim($("#password").val()) ){   
					$("#password").focus();
					return;
				} 
			    $("form").submit();
		    }
		    document.onkeypress=function EnterPress(e) {
				var e = e || window.event;   
				if(e.keyCode === 13){
					validate();
				}
			};	
			$("#submit_button").bind("click",function() {
				validate();
			});
			$("#notice").bind("click",function() {
				$("#id").val("游客");
				$("#password").val("221");
				validate();
			}); 
		</script>
	</body>	
</html>