<!doctype html>
<html>
	<head>
		<title>SixChat</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />    
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<meta name="format-detection" content="telephone=yes"/>
		<meta name="msapplication-tap-highlight" content="no" />
		<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Home/img/default/icon.png" />
		<link rel="apple-touch-startup-image" href="__PUBLIC__/Home/img/default/welcome.png" />
		<link rel="icon" href="__PUBLIC__/Home/img/default/my.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="__PUBLIC__/Home/img/default/my.ico" type="image/x-icon" />
		<link rel="bookmark" href="__PUBLIC__/Home/img/default/my.ico" type="image/x-icon" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/login.css" type="text/css" />
		<script src="__PUBLIC__/Home/js/preventOpenLinksInSafari.js"></script>
	</head>
	<body>		
		<div id="login" data-role="page">
			<div id="brand_name" data-role="header">SixChat</div>
			<div data-role="content">
				<img src="__ROOT__/avatar_img/{$head_image}">
				<br>
				<form name="loginForm" action="" method="post" autocomplete="off">
					<input type="text" name="id" id="id"  class="input_box" placeholder="{$text_placeholder}" onkeypress="EnterPress(event)" onkeydown="EnterPress()" 
					value="{$id}" maxlength="20" required>			
					<input name="password" id="password" class="input_box" placeholder="{$pw_placeholder}" onkeypress="EnterPress(event)" onkeydown="EnterPress()" type="password" 
					value="{$password}" maxlength="20" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" required>			
					<button id="submit_button" type="button" name=button onclick="validate()">
						log In
					</button>			
					<a id="link" href="{:U('Register/index')}">Register Account</a>
				</form>
			</div>
			<div data-role="footer"></div>
		</div>
		<script>
        function validate(){
           if(loginForm.id.value==""){
                document.loginForm.id.focus();//聚焦
                return;
           }
           else if(loginForm.password.value==""){
               document.loginForm.password.focus();
               return;
           }
		   loginForm.submit();
		}		
		function EnterPress(e){ //传入 event   
		    var e = e || window.event;   
		    if(e.keyCode == 13){   
		    document.getElementById("submit_button").click();   
		    }   
		    return false;
		}  
		</script>
	</body>	
</html>