<!doctype html>
<html>
	<head>
		<title>SixChat</title>
        <include file="./Public/header.html" />
        <link rel="stylesheet" href="__PUBLIC__/Home/css/lib/swiper.min.css" />
        <link rel="stylesheet" href="__PUBLIC__/Home/css/lib/fakeLoader.css" />
        <link rel="stylesheet" href="__PUBLIC__/Home/css/moments.css?v=17080600" />
        <link rel="stylesheet" href="__PUBLIC__/Home/css/messages.css?v=17080600" />
        <link rel="stylesheet" type="text/css" media="screen and (min-device-width: 1200px)" href="__PUBLIC__/Home/css/pc.css?v=17052600" />
	</head>
	<body>
	    <div id="fakeloader"></div>

		<div id="top" data-role="header">
			<div id="return">
				<img id="back_img" src="__PUBLIC__/Home/img/default/icon_back.png" alt="" >
				<span id="back">New</span>
			</div>
			<span id="current_location" ontouchstart='return false'>SixChat</span>
			<img id="camera" src="__PUBLIC__/Home/img/default/camera.png" alt="" > 
		</div>

		<div id="slidebar"></div>
		<div id="slidebar_profile"></div>
		<div id="slide_wall">	
	    	<div class="swiper-container">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide"></div>
		            <div class="swiper-slide"></div>
		            <div class="swiper-slide"></div>
		        </div>	       
		        <div class="swiper-pagination"></div>   
	    	</div>
	    	<div id="avatar"><img src="__ROOT__/avatar_img/{$avatar}" alt=""></div>
		</div>

		<!--占位栏-->
		<div id='free'></div>

        <!-- 瀑布流 -->

		<div id="loading">Next Page</div>

		<div id="footer" data-role="footer">
        <!--
            <div class="info-flow" >
				<div class="footer-left">
					<img src="__PUBLIC__/Home/img/default/my.ico" alt="">
				</div>
				<div class="footer-right" >
					<div class="footer-right-user-name">StrickYan</div>
					<div class="footer-right-text">
						About：<br>
						1. 一般人我不给她看到
						2. 可以浏览所有人的likes<br>
						2. 可以浏览好友关系（现开放所有）的comments<br>
						3. 页面刷新：pc端双击或mobile端长按顶部SixChat<br>
						4. 回车键发送comment<br>
						Copyright © 两十两 SHENZHEN<br>
						— 旧街场工作室 Tel:18503056101 —<br>
					</div>
					<div class="footer-right-img">
						<img src="__PUBLIC__/Home/img/default/my.ico" alt="">
					</div>
					<div class="footer-right-time">2016年8月1日 凌晨 the Begin</div>
				</div>
			</div> 
		-->
		    <p>&copy2017 SixChat</p>
		</div> 

        {$script}
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<!-- <script src="__PUBLIC__/Home/js/lib/jquery-3.1.0.min.js"></script> -->
        <include file="./Public/footer.html" />
        <script src="__PUBLIC__/Home/js/lib/swiper.min.js"></script>
		<script src="__PUBLIC__/Home/js/moments.js?v=17080600"></script>

		<script src="__PUBLIC__/Home/js/lib/fakeLoader.min.js"></script>
		<script>
		    $(document).ready(function() {
		    	//spinner1,spinner2,spinner3 共3种效果
		    	var whichSpinner = "spinner" + Math.ceil(Math.random() * 3); 
				$("#fakeloader").fakeLoader({
			        timeToHide: 60000,
			        bgColor: "#2ecc71",
			        spinner: whichSpinner,
			    });
	            var winW = $(window).width();
	            var winH = $(window).height();
	            var spinnerW = $('.' + whichSpinner).outerWidth();
	            var spinnerH = $('.' + whichSpinner).outerHeight();
	            $('.' + whichSpinner).css({
	                'left':(winW/2)-(spinnerW/2),
	                'top':(winH/2)-(spinnerH/2)
	            });
			});
		</script>

	</body>	
</html>