<!doctype html>
<html>
	<head>
		<title>SixChat</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />    
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<meta name="format-detection" content="telephone=no"/>
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="application-name" content="SixChat">
		<meta name="description" content="SixChat">
		<meta name="keywords" content="SixChat">
		<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Home/img/default/icon.png" />
		<link rel="apple-touch-startup-image" href="__PUBLIC__/Home/img/default/welcome.png" />
		<link rel="icon" href="__PUBLIC__/Home/img/default/my.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="__PUBLIC__/Home/img/default/my.ico" type="image/x-icon" />
		<link rel="bookmark" href="__PUBLIC__/Home/img/default/my.ico" type="image/x-icon" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/lib/swiper.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/lib/lightbox.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/moments.css" />
    	<link rel="stylesheet" href="__PUBLIC__/Home/css/messages.css" />
    	<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 1100px)" href="__PUBLIC__/Home/css/pc.css" />
    	<script src="__PUBLIC__/Home/js/lib/formatImg.js"></script>
	</head>
	<body>
		<div id="top" data-role="header">
			<img id="back_img" src="__PUBLIC__/Home/img/default/icon_back.png" alt="" >
			<span id="back">M</span>
			<span id="current_location" ontouchstart='return false'>SixChat</span>
			<img id="camera" name="{$my_name}" src="__PUBLIC__/Home/img/default/camera.png" alt="" > 
		</div>
		<div id="slidebar"></div>
<!-- 		<div id="slidebar_post"></div>
		<div id="slidebar_friends"></div> -->
		<div id="slidebar_profile"></div>
		<div id="slide_wall">	
	    	<div class="swiper-container">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide"></div>
		            <div class="swiper-slide"></div>
		            <div class="swiper-slide"></div>
		        </div>	       
		        <div class="swiper-pagination"></div>   
	    	</div>
	    	<div id="avatar" name="{$my_name}"><img src="__ROOT__/avatar_img/{$avatar}" alt=""></div>
		</div>
		<!--占位栏-->
		<div id='free'></div>
		<volist name="list" id="vo">
			<div class="info-flow">
				<div class="info-flow-left">
					<img src="__ROOT__/avatar_img/{$vo.avatar}" alt="">
				</div>
				<div class="info-flow-right" id="{$vo.moment_id}">
					<div class="info-flow-right-user-name">{$vo.user_name}</div>
					<div class="info-flow-right-text">{$vo.info}</div>
					<if condition="$vo.img_url neq ''">
						<div class="info-flow-right-img">
							<a href="__ROOT__/moment_img/{$vo.img_url}" data-lightbox="{$vo.moment_id}">
								<img class="lazy" data-original="__ROOT__/moment_img/{$vo.img_url}" onload="formatImg(this)" />
							</a>
						</div>
					</if>
					<div class="info-flow-right-time">{$vo.time}</div>
					<if condition="$vo.user_name eq $_SESSION['name']">
						<div class="delete-moment">Delete</div>
					</if>
					<div class="info-flow-right-button">
						<img name="button" class="button-img" src="__PUBLIC__/Home/img/default/feed_comment.png" />
					    <div class="divPop">  
					        <img class="like-png" src="__PUBLIC__/Home/img/default/logout_like.png" />
					        <img class="comment-png" src="__PUBLIC__/Home/img/default/logout_comment.png" />  
					    </div>  
					</div>
					<div class="info-flow-right-like"></div>
					<div class="info-flow-right-comment" ></div>
					<div class="info-flow-right-input" name="div_comment">
						<input type="text" class="comment-box" placeholder="Comment" maxlength="140" required/>
					</div>
				</div>
			</div>
		</volist>
		<div id="footer" data-role="footer">
			<div class="info-flow" >
				<div class="footer-left">
					<img src="__PUBLIC__/Home/img/default/my.ico" alt="">
				</div>
				<div class="footer-right" >
					<div class="footer-right-user-name">旧街场</div>
					<div class="footer-right-text">
						About：<br>
						1. 可以浏览所有人的likes<br>
						2. 可以浏览好友关系的comments<br>
						3. 页面刷新：pc端双击或mobile端长按顶部SixChat<br>
						4. 回车键发送moment,comment或其它<br>
						Copyright © 两十两 SHENZHEN<br>
						— 削笔工作室 Tel:18503056101 —<br>
					</div>
					<div class="footer-right-img">
						<img src="__PUBLIC__/Home/img/default/my.ico" alt="">
					</div>
					<div class="footer-right-time">2016年8月1日 凌晨 the Begin</div>
				</div>
			</div>
		</div> 
		<script src="__PUBLIC__/Home/js/lib/jquery-3.1.0.min.js"></script>	
		<script src="__PUBLIC__/Home/js/lib/swiper.min.js"></script>
		<script src="__PUBLIC__/Home/js/lib/lightbox.min.js"></script>
		<script src="__PUBLIC__/Home/js/lib/jquery.lazyload.min.js"></script>
		<script type='application/javascript' src="__PUBLIC__/Home/js/lib/fastclick.js"></script>
		<script src="__PUBLIC__/Home/js/global.js"></script>
		<script src="__PUBLIC__/Home/js/moments.js"></script>
	</body>	
</html>