# ignore these files

Application/Runtime/
moment_img/
avatar_img/
logs/

# idea files
*.idea
*.phpstorm.meta.php

# mac files
*.DS_Store

# workerman files
vendor/workerman/workerman.log
vendor/workerman/_home_wwwroot_sixchat_web-msg-sender_start.php.pid
