<!doctype html>
<html>
	<head>
		<title>SixChat</title>
		<include file="./Public/header.html" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/login.css" type="text/css" />
		<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 1200px)" href="__PUBLIC__/Home/css/loginPC.css?v=17080100" />
	</head>
	<body>	
		<div id="login" data-role="page">
			<div id="header">SixChat</div>
			<div id="content">
				<img src="__PUBLIC__/Home/img/default/default_head.jpg">
				<br>
				<form action="" method="post" autocomplete="off">
					<input type="text" id="id" name="id" class="input-box" placeholder="{$id_placeholder}" maxlength="20" required>
					<input type="password" id="password" name="password" class="input-box" placeholder="设置密码" maxlength="20" required>
					<input type="password" id="password_2" class="input-box" placeholder="确认密码" maxlength="20" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" required>
					<button id="submit_button" type="button">注 册</button>
					<a href="{:U('/login/index')}">现在登录</a>
				</form>
			</div>
			<div id="footer"></div>
		</div>
		<script src="__PUBLIC__/Home/js/lib/jquery-3.1.0.min.js"></script>	
		<script>
			//验证用户输入
		    function validate() {	
				if(!$.trim($("#id").val())){   
					$("#id").focus();
					return;
				}   
				else if( !$.trim($("#password").val()) ){   
					$("#password").focus();
					return;
				} 
				else if(!$.trim($("#password_2").val())  ){   
					$("#password_2").focus();
					return;
				} 
			    else if( $.trim($("#password").val()) != $.trim($("#password_2").val()) ){   
			        alert("您输入的密码不一致，请重新输入");
			        $("#password_2").focus();
			        return;
			    }
			    $("form").submit();
		    }
		    document.onkeypress=function EnterPress(e) {
				var e = e || window.event;   
				if(e.keyCode === 13){
					validate();
				}
			};	
			$("#submit_button").bind("click",function() {
				validate();
			}); 
		</script>	
	</body>	
</html>