/*
*   moments页样式
*/

*
{
    margin: 0;
    padding: 0;
}
html
{
    font-size: 10px;

    height: 100%;
}
body
{
    font-family: Arial,'Microsoft YaHei',Verdana,Geneva,sans-serif;
    font-size: 14px;

    height: 100%;

    opacity: 0;
    background-color: white;
}
/*去掉旧版IE显示紫色边框bug*/
a,
img
{
    border: none;
}
a
{
    text-decoration: none;

    color: black;
}

/*消息栏*/
#slidebar
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: -100%;

    width: 100%;
}

/*个人资料*/
#slidebar_profile
{
    line-height: 1.8rem;

    position: fixed;
    z-index: 2;
    top: 0;
    right: -100%;

    width: 100%;
    padding-top: 60px;

    color: gray;
}
#slidebar_profile div:not(#new_avatar_btn)
{
    margin: 10px 20px;
}
.profile-span
{
    display: inline-block;

    width: 80px;
}
#profile_avatar
{
    text-align: center;
}
#profile_avatar img
{
    width: 180px;
    height: 180px;

    border-radius: 3px;
}
#modify_profile_button,
#confirm_modify,
#logout
{
    line-height: 3.8rem;

    box-sizing: border-box;

    text-align: center;

    color: white;
    border: 0;
    border-radius: 5px;
    background-color: rgb(91,197,190);
}
#slidebar_profile input
{
    line-height: 1.8rem;

    box-sizing: border-box;
    width: 100%;
    padding: 3px 5px;

    color: #999;
    border: 0;
    border-radius: 5px;
    background-color: #f5f5f5;
}

/*顶部导航栏*/
#top
{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    height: 40px;

    opacity: .97;
    background-color: rgb(91,197,190);
    box-shadow: 0 .2rem .2rem rgba(0,0,0,.32);

    filter: alpha(opacity=.97);
}
#back_img
{
    float: left;

    height: 24px;
    margin-top: 8px;
    margin-left: 8px;
}
#back
{
    font-weight: bold;
    line-height: 24px;

    float: left;

    width: 60px;
    margin-top: 8px;
    margin-left: 3px;

    color: white;
}
#current_location
{
    font-weight: bold;
    line-height: 2.4rem;

    position: absolute;
    top: 8px;
    left: 40%;

    width: 20%;

    text-align: center;

    color: white;
}
#camera
{
    float: right;

    width: 50px;
    margin-top: -5px;
    margin-right: 0;
}

/*moment发送栏*/
#edit_box
{
    position: fixed;
    z-index: 3;
    top: 40px;

    width: 100%;

    background-color: #f5f5f5;
}
#text_box
{
    line-height: 1.8rem;

    box-sizing: border-box;
    width: 100%;
    height: 90px;
    padding: 10px 10px;

    color: #999;
    border: 0;
    background-color: #f5f5f5;
}
#btn,
#new_avatar_btn
{
    line-height: 1.8rem;

    position: relative;

    overflow: hidden;

    padding: 10px 10px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #5bb75b;
}
#btn input,
#new_avatar_btn input
{
    position: absolute;
    top: 0;
    right: 0;

    margin: 0;

    cursor: pointer;

    opacity: 0;
    border: solid transparent;

    filter: alpha(opacity=0);
}

/*滚动墙*/
#slide_wall
{
    position: relative;

    width: 100%;
    height: 33%;
    margin-top: 40px;
}
.swiper-container
{
    width: 100%;
    height: 100%;
}
.swiper-slide
{
    font-size: 1.8rem;
    /* Center slide text vertically */

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    text-align: center;

    background: #fff;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
}
.swiper-slide img
{
    width: 100%;
}

/*个人头像*/
#avatar
{
    position: absolute;
    z-index: 1;
    right: 8px;
    bottom: -10px;

    opacity: 1;

    filter: alpha(opacity=1);
}
#avatar img
{
    width: 80px;
    height: 80px;

    border-radius: 3px;
}

#free
{
    height: 50px;

    background: white;
}

/*moments信息流*/
.info-flow
{
    position: relative;

    padding: 10px 10px 5px 10px;

    border-bottom: 1px solid #eee;
    background-color: white;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#the_one_moment
{
    padding-top: 48px;
}
.info-flow-left
{
    position: absolute;
    left: 10px;

    border: 0 solid red;
}
.info-flow-left img
{
    width: 40px;
    height: 40px;

    border-radius: 3px;
}
.info-flow-right
{
    margin-left: 50px;

    border: 0 solid red;
}
.info-flow-right-user-name
{
    font-weight: 700;
    line-height: 20px;
    height: 20px;

    color: rgb(41, 128, 185);
    border: 0 solid red;
}
.info-flow-right-text
{
    line-height: 20px;

    border: 0 solid red;
}
.info-flow-right-img
{
    margin: 5px 0 3px 0 ;
}
.info-flow-right-img img
{
    border: 0 solid red;
}
.info-flow-right-time
{
    font-size: 1.2rem;
    line-height: 20px;

    float: left;

    margin: 0 0;

    color: rgb(127, 140, 141);
}
.delete-moment
{
    font-size: 1.2rem;
    line-height: 20px;

    float: left;

    margin: 0 0 0 10px;

    color: rgb(41, 128, 185);
    color: rgb(127, 140, 141);

    -webkit-tap-highlight-color: rgba(0,0,0,.2);
}
.info-flow-right-button
{
    line-height: 20px;

    position: relative;

    float: right;
}
.info-flow-right-button img
{
    position: relative;
    top: 3px;

    height: 14px;
}
.divPop
{
    position: absolute;

    display: none;

    width: 125px;

    border: 0 solid red;
}
.divPop img
{
    float: left;

    height: 30px;

    border: 0 solid red;
}
.info-flow-right-like
{
    line-height: 20px;

    margin-top: 24px;
    margin-bottom: 1px;
    padding: 0 5px;

    background-color: #f0f0f0;
}
.like-img
{
    line-height: 1.2rem;

    display: inline-block;

    height: 12px;
    margin-right: 3px;
    margin-left: 3px;

    vertical-align: middle;
}
.like-user-name
{
    font-weight: bold;

    display: inline-block;

    padding-left: 2px;

    color: rgb(41, 128, 185);
}
.info-flow-right-comment
{
    margin: 0 0 0 0;
    padding: 0 5px;

    color: #333;
    border: 0 solid red;
    background-color: #f0f0f0;
}
.one-comment
{
    line-height: 20px;

    display: block;

    word-break: break-all;

    -webkit-tap-highlight-color: rgba(0,0,0,.2);
}
.one-comment:hover
{
    background-color: rgba(0,0,0,.1);
}
.comment-user-name
{
    font-weight: bold;

    color: rgb(41, 128, 185);
}
.info-flow-right-input
{
    line-height: 2.2rem;

    display: none;

    height: 2.2rem;
    margin: 0 0;
}
.comment-box
{
    line-height: 2.2rem;

    float: left;

    box-sizing: border-box;
    width: 100%;
    height: 2.2rem;
    padding: 0 5px;

    color: #999;
    border: 0 solid #ddd;
    background-color: #f5f5f5;
}

hr
{
    border: 1px solid #eee;
}

/*底部栏*/
#footer
{
    padding-bottom: 24px;

    background-color: white;
}
.footer-left
{
    position: absolute;
    left: 8px;

    border: 0 solid red;
}
.footer-left img
{
    width: 40px;
    height: 40px;

    border-radius: 3px;
}
.footer-right
{
    margin-right: 8px;
    margin-left: 50px;

    border: 0 solid red;
}
.footer-right-user-name
{
    font-weight: 700;
    line-height: 18px;

    color: rgb(41, 128, 185);
    border: 0 solid red;
}
.footer-right-text
{
    line-height: 1.8rem;
}
.footer-right-img
{
    margin: 5px 0 3px 0 ;
}
.footer-right-img img
{
    width: 120px;

    border: 0;
}
.footer-right-time
{
    font-size: 1.2rem;
    line-height: 1.4rem;

    float: left;

    height: 1.4rem;
    margin: 0 0;

    color: rgb(127, 140, 141);
}
