/*
*   moments页样式
*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    font-family: 'Open Sans', Arial, 'Microsoft YaHei', Verdana, Geneva, sans-serif;
    font-size: 14px;
    height: 100%;
    /*opacity: 0;*/
    /*background-color: white;*/
    overflow-x: hidden;
    background-color: rgb(242, 242, 242);
}

/*去掉旧版IE显示紫色边框bug*/

a, img {
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

/*消息栏*/

#slidebar {
    position: absolute;
    z-index: 2;
    top: 0;
    left: -100%;
    width: 100%;
    /*    background-color: white;*/
}

/*个人资料*/

#slidebar_profile {
    line-height: 18px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: -100%;
    width: 100%;
    padding-top: 60px;
    color: gray;
    background-color: white;
}

#slidebar_profile div:not(#new_avatar_btn) {
    margin: 10px 20px;
}

.profile-span {
    display: inline-block;
    width: 82px;
}

#profile_avatar {
    text-align: center;
}

#profile_avatar img {
    width: 180px;
    height: 180px;
    border-radius: 3px;
}

#modify_profile_button, #confirm_modify, #logout, #follow_button {
    line-height: 38px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    border: 0;
    border-radius: 5px;
    /*background-color: rgb(91, 197, 190);*/
    background-color: #2ecc71;
    cursor: pointer;
}

#slidebar_profile input {
    line-height: 18px;
    box-sizing: border-box;
    width: 100%;
    padding: 3px 5px;
    color: #999;
    border: 0;
    border-radius: 5px;
    background-color: #f5f5f5;
}

/*顶部导航栏*/

#top {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    opacity: .97;
    filter: alpha(opacity=.97);
    background-color: #FAFAFA;
    color: black;
    border-bottom: 1px solid #E0E0E0;
}

#return {
    cursor: pointer;
}

#back_img {
    float: left;
    height: 24px;
    margin-top: 8px;
    margin-left: 8px;
}

#back {
    font-weight: bold;
    line-height: 24px;
    float: left;
    width: 60px;
    margin-top: 8px;
    margin-left: 3px;
    /*color: white;*/
    color: #212121;
}

#current_location {
    font-weight: bold;
    line-height: 24px;
    position: absolute;
    top: 8px;
    left: 40%;
    width: 20%;
    text-align: center;
    /*color: white;*/
    cursor: pointer;
    color: #212121;
}

#camera {
    float: right;
    width: 50px;
    margin-top: -5px;
    margin-right: 0;
    cursor: pointer;
}

/*moment发送栏*/

#edit_box {
    position: fixed;
    z-index: 3;
    top: 40px;
    width: 100%;
    /*background-color: #f5f5f5;*/

    background-color: #FAFAFA;
    border-bottom: 1px solid #E0E0E0;
}

#text_box {
    line-height: 18px;
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    padding: 10px 10px;
    color: #999;
    border: 0;
    /*background-color: #f5f5f5;*/
    background-color: #FAFAFA;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

#btn {
    margin: 0 0 3px 10px;
}
#btn, #new_avatar_btn {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: #212121;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #FAFAFA;
    width: 26px;
    height: 26px;
    font-size: 22px;
    line-height: 26px;
    position: relative;
}

#share {
    float: right;
    margin: 0 10px 3px 0;
    cursor: pointer;
    text-align: center;
    color: #212121;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #FAFAFA;
    width: 66px;
    height: 26px;
    font-size: 16px;
    line-height: 26px;
}

#btn input {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    border: solid transparent;
    filter: alpha(opacity=0);
    width: 26px;
}

#new_avatar_btn input {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    border: solid transparent;
    filter: alpha(opacity=0);
    width: 26px;
    height: 26px;

}

/*滚动墙*/

#slide_wall {
    position: relative;
    width: 100%;
    height: 33%;
    margin-top: 40px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    background: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    cursor: pointer;
}

/*个人头像*/

#avatar {
    position: absolute;
    z-index: 1;
    right: 8px;
    bottom: 8px;
    cursor: pointer;
}

#avatar img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

#free {
    height: 50px;
    background: white;
}

/*moments信息流*/

.info-flow {
    position: relative;
    padding: 10px 10px 5px 10px;
    border-bottom: 1px solid #eee;
    background-color: white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#the_one_moment {
    padding-top: 50px;
}

.info-flow-left {
    position: absolute;
    left: 10px;
    border: 0 solid red;
}

.info-flow-left img {
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.info-flow-right {
    /*margin-left: 50px;*/
    border: 0 solid red;
}

.info-flow-right-avatar {
    display: inline-block;
}

.info-flow-right-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    vertical-align: middle;
    margin-right: 10px;
}

.info-flow-right-user-name {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    color: rgb(41, 128, 185);
    border: 0 solid red;
    font-size: 15px;
}

.info-flow-right-text {
    line-height: 20px;
    border: 0 solid red;

    margin: 5px 0;
    padding: 0 5px;
    color: #333;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.only-text {
    background: none;
    padding: 0;
}

.info-flow-right-img {
    margin: 5px 0 3px 0;
}

.info-flow-right-img img {
    border: 0 solid red;
    cursor: zoom-in;
    width: 100%;
    border-radius: 5px;
}

.info-flow-right-time {
    font-size: 12px;
    line-height: 20px;
    float: left;
    margin: 0 0;
    color: rgb(127, 140, 141);
}

.delete-moment {
    font-size: 12px;
    line-height: 20px;
    float: left;
    margin: 0 0 0 10px;
    color: rgb(127, 140, 141);
    -webkit-tap-highlight-color: rgba(0, 0, 0, .2);
    cursor: pointer;
}

.info-flow-right-button {
    line-height: 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.info-flow-right-button img {
    position: relative;
    top: 3px;
    height: 14px;
}

.divPop {
    position: absolute;
    display: none;
    width: 125px;
    border: 0 solid red;
}

.divPop img {
    float: left;
    height: 30px;
    border: 0 solid red;
}

.info-flow-right-like {
    line-height: 20px;
    margin-top: 26px;
    margin-bottom: 1px;
    padding: 0 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.like-img {
    line-height: 12px;
    display: inline-block;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: middle;
}

.like-user-name {
    /*font-weight: bold;*/
    display: inline-block;
    padding-left: 2px;
    color: rgb(41, 128, 185);
}

.info-flow-right-comment {
    margin: 0 0 0 0;
    padding: 0 5px;
    color: #333;
    border: 0 solid red;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.one-comment {
    line-height: 20px;
    display: block;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .2);
    cursor: pointer;
}

.one-comment:hover {
    background-color: rgba(0, 0, 0, .1);
}

.comment-user-name {
    /*font-weight: bold;*/
    color: rgb(41, 128, 185);
}

.info-flow-right-input {
    line-height: 22px;
    display: none;
    height: 22px;
    margin: 0 0;
}

.comment-box {
    line-height: 22px;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: 22px;
    padding: 0 5px;
    color: #999;
    border: 0 solid #ddd;
    background-color: #f5f5f5;
}

hr {
    border: 1px solid #eee;
}

#loading {
    text-align: center;
    position: relative;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    background-color: white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-weight: 600;
    cursor: pointer;
    line-height: 20px;
}

#footer {
    text-align: center;
    width: 100%;
    line-height: 40px;
}