body {
	width: 40%;
	margin:auto;
	background-image: url("/sixchat/Public/Home/img/default/24.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed; /*background-attachment设置或检索背景图像是随对象内容滚动还是固定的；fixed：固定*/
	background-position: 50% 50%;
/*	background-color: rgb(238,238,238);		*/
	background-color: rgb(43,43,43);		
}

#top {
	width: 40%;
	position: fixed;
	top:0;
	left:30%;
	border-radius: 5px;
}
#edit_box {
	position:fixed;
	top:40px;
	width: 40%;
	z-index: 3;
	background-color: #f5f5f5;
}
#slidebar {
	z-index: 2;
	position: absolute;
	left:30%;
	width: 40%;

}
#slidebar>div {
	border-radius: 5px;
}
#slidebar_profile {
	z-index: 2;
	position: fixed;
	top:50px;
	left: 30%;
	width: 40%;
	color:gray;
	line-height: 18px;
	padding-top: 60px;
	background: white;
	display: none;
	border-radius: 5px;
}
#slide_wall
{
    width: 100%;
    height: 33%;
    margin-top: 50px;
}
.swiper-container {
   	border-radius: 5px;
}
#avatar
{
    position: fixed;
    z-index: 1;
    right: 100px;
    top: 50px;
}
#avatar img
{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
#free {
	display: none;
}
.info-flow {
	margin: 10px 0;
	padding: 20px 20px 10px 20px;
	border-radius: 5px;
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);

}
#the_one_moment {
    position: absolute;
    top: 40px;
    left: 30%;
    width: 40%;
    box-sizing: border-box;
    padding-top: 20px;
}
.info-flow-left
{
    left: 20px;
}
.info-flow-right
{
    margin-left: 55px;
}
#footer{
	border-radius: 5px;
	padding-bottom: 0;
}
.footer-left
{
    left: 20px;
}
.footer-right {
	margin-left: 55px;
}


#location {
	height: 50px;
}