body {
	width: 40%;
	margin:auto;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed; /*background-attachment设置或检索背景图像是随对象内容滚动还是固定的；fixed：固定*/
	background-position: 50% 50%;
	background-color: rgb(238,238,238);		
}
#top {
	width: 40%;
	position: fixed;
	top:0;
	left:30%;
}
#edit_box {
	position:fixed;
	top:40px;
	width: 40%;
	z-index: 3;
	background-color: #f5f5f5;
}
#slidebar {
	z-index: 2;
	position: absolute;
	top:0px;
	left: -40%;
	width: 40%;
}
#slidebar_profile {
	z-index: 2;
	position: fixed;
	top:0px;
	right: -100%;
	width: 40%;
	color:gray;
	line-height: 18px;
	padding-top: 60px;
	background: white;
}