<div id="location" name="location"></div> <!-- 设定一个location.hash位置 -->
<div id="search">
	<input type="text" id="search_box" placeholder="Search New Friends" maxlength="140" required/>
</div>
<volist name="list" id="vo">
	<div class="message_flow" id="{$vo.moment_id}">
		<div class="message_flow_left">
			<img src="__PUBLIC__/Home/{$vo.avatar}" alt="">
		</div>
		<div class="message_flow_right" >
			<div class="line1">
				<div class="message_flow_right_user_name">{$vo.reply_name}</div>
				<div class="message_flow_right_time">{$vo.time}</div>
			</div>
			<div class="message_flow_right_text">{$vo.comment}</div>
		</div>		
	</div>	
</volist>
